<div class='toolbar'>
    <ul class='actions'>
      <li id="new_ot_link">
        <%= button_link_to_remote "New Availability", 
                                   {:url => new_object_url,
                                    :method => :get,
                                    :update => "new-availability",
                                    :before => "Element.hide('new_ot_link');Element.show('busy_indicator')",
                                    :complete => "Element.hide('busy_indicator')"}, :icon => 'add' %>
      </li> 
    </ul>
  <br class='clear' />
</div>
<%= image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'busy_indicator' %>
<div id="new-availability"></div>

<h1>Availabilities</h1>
<table class="index">
  <thead>
    <th>Text</td>
    <th>&nbsp;</th>
  </tr>
  <thead>
<% @availabilities.each do |availability| %>
  <tr id="<%= dom_id availability %>"> 
    <td><%= h availability.text %></td>
    <td class="actions">
      <%= link_to_edit availability %>&nbsp;
      <%= link_to_delete availability %>
    </td>
  </tr>
<% end %> 
  </tbody>
</table>